<% if signed_in? %>
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="content">
      <%= f.text_area :content, placeholder: "Comments here ..." %>
    </div>
    <%= f.hidden_field :idea_id, :value => @idea.id %>
    <%= f.submit "Post", class: "btn btn-small btn-primary" %>
  <% end %>
<% else %>
  <p>Please <%= link_to 'Sign in', login_path %> first.</p>
<% end %>

<% @comments.each do |comment| %>
  <div class="comment" >
    <%= comment.content %> Post by <%= comment.user_name %>
  </div>
<% end %>
