<%= form_for(@idea) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="title">
    <%= f.text_area :title, placeholder: "Idea title ..." %>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Idea description..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
